In [14]:
import pandas as pd
import sqlite3

In [15]:
# connect with the database
db_path = 'src/sensorsData.db'
conn = sqlite3.connect(db_path)

In [16]:
# check what is in the database
df = pd.read_sql_query("SELECT * FROM DHT_data", conn)

In [17]:
#show datafame and see what is in it
df.head()

             timestamp  temp_pi  temp_house  hum_house
0  2023-10-27 13:56:40       80          20         30
1  2023-10-27 13:56:49       80          20         30
2  2023-10-27 14:07:35       80          20         30

In [18]:
last_row = df.iloc[-1:]

In [20]:
last_row

             timestamp  temp_pi  temp_house  hum_house
2  2023-10-27 14:07:35       80          20         30