##### Testing what's in the database

In [57]:
import pandas as pd
import sqlite3

In [58]:
# connect with the database
db_path = 'src/sensorsData.db'
conn = sqlite3.connect(db_path)

In [59]:
# check what is in the database
df = pd.read_sql_query("SELECT * FROM DHT_data", conn)

In [61]:
#show datafame and see what is in it
df.head()

             timestamp  temp_pi  temp_house  hum_house
0  2023-09-30 19:17:18       30          15         50
1  2023-10-01 19:17:35       30          17         80
2  2023-10-02 19:17:48       30          25         60
3  2023-10-03 19:18:00       30          22         63
4  2023-10-04 19:18:11       30          15         50

In [62]:
# double check last row
last_row = df.iloc[-1:]

In [63]:
last_row

              timestamp  temp_pi  temp_house  hum_house
34  2023-10-31 19:24:35       30          24         76