In [197]:
import pandas as pd
import requests
import knmi
from datetime import datetime, timedelta

In [198]:
import pandas as pd
import sqlite3

# connect with the database
db_path = "../knmiData.db"
conn = sqlite3.connect(db_path)

# check what is in the database table by create a DataFrame
db = pd.read_sql_query("SELECT * FROM KNMI_data", conn)

In [199]:
db.head()

                 timestamp_h  station  temp
0  November 11, 2023 12:00AM      260   6.8
1  November 11, 2023 01:00AM      260   6.8
2  November 11, 2023 02:00AM      260   5.9
3  November 11, 2023 03:00AM      260   6.5
4  November 11, 2023 04:00AM      260   6.5

In [ ]:
pd.to_datetime(db['timestamp_h']).dt.strftime("%d%H")

In [ ]:
pd.to_datetime(db['timestamp'])

In [ ]:
pd.Timestamp.today()

In [ ]:
df.iloc[-1:]['T']

In [ ]:
df.iloc[-1:]['YYYYMMDD_H']

In [ ]:
today = datetime.today()
presentday = (datetime.today()).strftime('%Y%m%d')
yesterday = (today - timedelta(1)).strftime('%Y%m%d')
df = knmi.get_hour_data_dataframe(stations=[260], start=yesterday, end=pd.Timestamp.today()).reset_index()
df = df[['YYYYMMDD_H', 'STN', 'T']]
df['T'] = df['T'] *0.1
df['hour'] = pd.to_datetime(df['YYYYMMDD_H']).dt.strftime("%H")
df.head()

In [ ]:
for row, value in df.iterrows():
    time = value['YYYYMMDD_H']
    station = value['STN']
    temp = value['T']
    print(time, station, temp)
    break

In [ ]:
for key, valu in df.iterrows():
    print(valu['T'])
    break

In [ ]:
df.tail()

In [ ]:
import pandas as pd
import sqlite3

# connect with the database
db_path = "../sensorData.db"
conn = sqlite3.connect(db_path)

# check what is in the database table by create a DataFrame
db = pd.read_sql_query("SELECT * FROM DHT_data", conn)

In [ ]:
db['hour'] = pd.to_datetime(db['timestamp']).dt.strftime("%H")
db

In [ ]:
result = db.merge(df, left_on='hour', right_on='hour', how='left')

In [ ]:
result.tail()

In [ ]:
import matplotlib.pyplot as plt
result["time"] = pd.to_datetime(result["timestamp"])
x = result["time"]
y1 = result["T"]
y2 = result['temp_house']
plt.plot(x, y1)
plt.plot(x, y2)
plt.show()

In [ ]:
# https://www.daggegevens.knmi.nl/klimatologie/daggegevens
# dictionary of columns

In [ ]:
df.columns

In [ ]:
#T: Temperatuur (in 0.1 graden Celsius) op 1.50 m hoogte tijdens de waarneming

In [ ]:
import requests

apikey = "eyJvcmciOiI1ZTU1NGUxOTI3NGE5NjAwMDEyYTNlYjEiLCJpZCI6ImE1OGI5NGZmMDY5NDRhZDNhZjFkMDBmNDBmNTQyNjBkIiwiaCI6Im11cm11cjEyOCJ9	"

# The API endpoint
url = "https://api.dataplatform.knmi.nl/open-data/v1/datasets/Actuele10mindataKNMIstations/versions/2/files"

# A GET request to the API
response = requests.get(url, headers={'Authorization': apikey})

# Print the response
response_json = response.json()
print(response_json)

In [ ]:

url = "https://api.dataplatform.knmi.nl/open-data/v1/datasets/Actuele10mindataKNMIstations/versions/2/files/KMDS__OPER_P___10M_OBS_L2_202212102330.nc/url"
response = requests.get(url, headers={'Authorization': apikey})
response_json = response.json()
print(response_json)

In [ ]:
import knmi
df = knmi.get_day_data_dataframe(stations=[260])
print(df.disclaimer)
print(df.stations)
print(df.legend)
df = df.rename(columns=df.legend)
print(df)

In [ ]:
response.json()['temporaryDownloadUrl']

In [ ]:
import netCDF4

rootgrp = netCDF4.Dataset("test.nc", "r", format="NETCDF4")

In [ ]:
import xarray as xr

ds = xr.open_dataset('test.nc')
df = ds.to_dataframe()
df = df.reset_index()

In [ ]:
f = xr.open_dataset('test.nc')
df=f.to_dataframe().unstack()

In [ ]:
nstations = rootgrp.dimensions['station'].size
stationid = [(rootgrp["/station"][i]) for i in range(nstations)].index("06"+str('260'))

In [ ]:
rootgrp.dimensions['station'].items

In [ ]:
type(rootgrp)

In [ ]:
import xarray as xr

ds = xr.open_dataset('temp.nc')
df = ds.to_dataframe()

In [ ]:
with open('test2', "wb") as f:
    for chunk in r.iter_content(chunk_size=8192):
        f.write(chunk)

In [ ]:
import urllib.request

urllib.request.urlretrieve(response.json()['temporaryDownloadUrl'], "test.nc")

In [ ]:
rootgrp = netCDF4.Dataset("test.nc", "r")

In [ ]:
# https://developer.dataplatform.knmi.nl/open-data-api#example-last

In [ ]:
 import knmi

In [ ]:
 df = knmi.get_hour_data_dataframe(stations=[260], start='20231101', end='20231110')

In [ ]:
# TG:TN:TX:T10N

In [ ]:
df.columns

In [ ]:
df['T10N']

In [ ]:
stations = 
start = 
end = 
inseason = 
variables

In [ ]:
knmi.get_hour_data_dataframe(stations, start, end, inseason, variables)

In [ ]:
from knmy import knmy
disclaimer, stations, variables, data = knmy.get_hourly_data(stations=[209, 235], start=20231101, end=today,
                                                             inseason=True, variables=['WIND', 'TEMP'], parse=True)

In [ ]:
data